{% extends "base.html" %}
{% block title %}NELA - Home{% endblock %}
{% block content %}

<div class="card mx-auto my-auto" style="width: 25rem;">
    <div class="card-body">
        <h5 class="card-title" align="center">Select Fields</h5>
        <form method="POST" action="{{ url_for('range_filter') }}" id="fields_form">
            {{ form.csrf_token }}
            <div id="fields_row" class="pt-2" align="center">
                {{ form.Fields }}
            </div>
        </form>
        <div class="card-footer text-center" >
            <input type="submit" class="btn btn-primary" value="Filter" form="fields_form" id="btn_submit">
        </div>
    </div>
</div>

{% endblock %}
