{% extends "base.html" %}
{% block title %}NELA - Filter{% endblock %}
{% block content %}

<div class="card mx-auto my-auto" style="width: 25rem;">
    <div class="card-body">
        <h5 class="card-title" align="center">Specify Ranges</h5>
        <form method="POST" action="{{ url_for('range_filter') }}" id="sliders_form">
            {{ form.csrf_token }}
            <div id="sliders_row" class="pt-2" align="center">
                {{ form.Sliders }}
            </div>
            <div class="input-group input-daterange">
                <input type="text" class="form-control datepicker" value="2012-04-05" id="start_date" name="start_date">
                <div class="input-group-addon">to</div>
                <input type="text" class="form-control datepicker" value="2012-04-19" id="end_date" name="end_date">
            </div>
        </form>
        <div class="card-footer text-center">
            <input type="submit" class="btn btn-primary" value="Filter" form="sliders_form" id="btn_submit">
        </div>
    </div>
</div>

{% endblock %}